# configuration
PyYAML==3.12

# thingspeak
python-dateutil==2.6.0
requests==2.13.0

# twitter
tweepy==3.5.0

# mqtt
paho-mqtt==1.2

# tests
pytest==3.0.6
coverage==4.3.4
pytest-cov==2.4.0
responses==0.5.1
testfixtures==4.13.4

# setup
bumpversion==0.5.3
